<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit listing</title>
</head>
<body>
    <h1>Edit the listing</h1>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT">
        <input name="listing[title]" value="<%=listing.title%>" type="text" />
        <br>
        <textarea name="listing[description]"><%=listing.description%>   ></textarea><br>
        <input name="listing[image]" value="<%=listing.image%>" type="text" /><br>
        <input name="listing[price]" value="<%=listing.price%>" type="text" /><br>
        <input name="listing[country]" value="<%=listing.country%>" type="text" /><br>
        <input name="listing[location]" value="<%=listing.location%>" type="text" /><br>
        <button>Edit Listing</button>
    </form>
</body>
</body>
</html>