<% layout("/layouts/boilerplate")%>
<body>
    <div class="row mt-3" >
    <div class="col-8 offset-2">
        <h1>Listing Details</h1> 
    </div>
    <div class="card-show col-6 offset-2">
  <img src="<%=listing.image.url%>" class="show-img  col-8 " alt="image">
  <div class="card-body">
    <h3 class="card-title"><%= listing.title%></h3>
    <p class="card-des" ><%= listing.description%></p>
    <p class="card-price"><%=listing.price.toLocaleString("en-IN")%>/night</p>
    <p class="card-loc"><%= listing.location%></p>
    <p class="card-country"><%= listing.country%></p>

    <div class="show-btns">
         <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark col-3 offset-0 edit-btn" style="background-color: red ; border: none;">Edit this listing</a>
    
        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
        <button class="btn btn-dark offset-4 ">DELETE</button>
    </form>
    </div>
   

</div>
</div>

    
    </div>
    

</body>
</html>